# Data Science Tools and Ecosystem

In this notebook, we shall summarise Data Science Tools and their Ecosystems.

Some popular languages used by Data Scientists include:

1. Python
2. R
3. SQL
4. Java
5. C++
6. Julia

Some libraries commonly used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Keras
5. TensorFlow
6. Matplotlib

|Data Science Tools|
|---|
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|
|Zeppelin|

### Here are a few examples showing how we can evaluate arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividng 200 by 60.
200/60

3.3333333333333335

### Objectives:

* Add comments to coding cells
* Create markdown cells
* Add both ordered and unordered lists to markdown cells
* Format content of markdown calls with specific heading styles

#### Author:
ST